<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ../partials/_header %>
  </header>
            
  <h1>URLs Added:</h1>
  <form method="GET" action="/urls/new">
    <button>New Link</button>
</form>
  <ul> 
    <%for(url in urls) { %>
      <li>
       
        <a target="_blank" href= <%= "u/" + urls[url].shortURL %> > <%= urls[url].shortURL %>  - <a href= <%= urls[url].longURL %> > <%= urls[url].longURL %></a> 

        <form method="POST" action="/urls/<%= url %>/delete">
          <button>Delete</button>
      </form>
      <form method="GET" action="/urls/<%= url %>">
        <button>Edit</button>
    </form>
      
      
      </li>

  </ul>
<% } %>

  <% if(!user){ %>
    <h1>Please, Log In or Register for shorter links.</h1>


  <% } %>
</body>
</html>